// ---- ---- fonts ---- ---- //
@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
// ---- ---- color ---- ---- //
$color_light: #ffffff;
$color_text: #040404;
$color_dark: #363636;
$color_accent: #9f6b08;
// ---- ---- main ---- ---- //
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $color_text;
  min-width: 300px;
  overflow-x: hidden;
}
.container-big {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.container {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- title ---- ---- //
.title {
  color: $color_text;
  &__h1 {
    font-size: 76px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__h3 {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
}
