// ---- ---- media ---- ---- //
@media (max-width: 1200px) {
  .promo {
    background-position: 20%;
  }
}
@media (max-width: 1000px) {
  .menu__list {
    gap: 0 20px;
    &--right {
      padding-right: 60px;
    }
  }
  .title__h1 {
    font-size: 66px;
  }
  .evo-light__inner::after {
    top: 145px;
    left: 560px;
  }
  .evo-light__video {
    background-size: contain;
  }
}
@media (max-width: 930px) {
  .evo-dark__descr {
    justify-content: space-between;
    gap: 0;
  }
  .evo-light__inner::before {
    left: 300px;
  }
  .evo-light__inner::after {
    top: 140px;
    left: 450px;
  }
}
@media (max-width: 900px) {
  .menu {
    &__logo {
      margin: 0 auto;
    }
  }
  .menu-btn {
    display: block;
  }
  .menu {
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      background-image: url(../images/bg/dec_01.svg);
      background-size: contain;
      background-color: $color_dark;
      color: $color_light;
      z-index: 20;
      transition: all 0.3s ease;
      transform: translateX(-120%);
      &.active {
        transform: translateX(0);
      }
      &--left {
        background-position: 50%;
        padding: 45px 0 0 0;
      }
      &--right {
        top: 180px;
        padding: 0 0 25px 0;
        background-position: 25%;
      }
    }
    &__item {
      margin-bottom: 15px;
    }
  }
  .info__box {
    img {
      object-fit: contain;
    }
  }
  .track__img {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .evo-light {
    &__inner::before {
      top: -10px;
      left: 280px;
    }
    &__inner::after {
      top: 190px;
      left: 385px;
    }
    &__text--two {
      max-width: 370px;
    }
    &__text--three {
      max-width: 450px;
    }
  }
  .blog__img {
    width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 745px) {
  .info__box {
    display: block;
    .info__text {
      max-width: 100%;
      margin-bottom: 20px;
    }
    img {
      display: block;
      object-fit: cover;
      margin: 0 auto;
    }
    .info__table {
      margin: 25px auto 0;
    }
  }
  .evo-dark {
    &__title {
      margin-bottom: 30px;
      padding-right: 0;
    }
    &__box {
      display: block;
    }
    &__content {
      max-width: 100%;
    }
    &__img {
      width: 100%;
    }
    &__descr {
      flex-wrap: wrap;
      div {
        gap: 0;
        width: 55%;
        margin-bottom: 15px;
      }
      div:nth-child(2),
      div:nth-child(4) {
        width: 35%;
      }
    }
  }
  .evo-light {
    &__inner::before {
      top: -50px;
      left: 260px;
    }
    &__inner::after {
      top: 160px;
      left: 345px;
    }
  }
  .footer__inner {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .evo-light {
    &__inner::after {
      top: 330px;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 100%;
    }

    &__text--two {
      max-width: 100%;
    }
    &__text--three {
      margin-top: 320px;
      max-width: 100%;
    }
    &__video {
      margin-top: 50px;
      height: 140px;
    }
  }
  .slick-arrow {
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateX(100%);
    &__left {
      transform: translateX(-100%);
    }
  }
}
@media (max-width: 675px) {
  .title__h3 {
    text-align: center;
    font-size: 30px;
  }
  .info {
    &__title {
      max-width: 100%;
      margin-bottom: 20px;
    }
    &__inner {
      display: block;
    }
    &__text {
      max-width: 100%;
    }
    &__box {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .track {
    &__text {
      max-width: 100%;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
  .blog {
    &__box {
      flex-direction: column;
    }
    &__quote-box {
      max-width: 100%;
    }
    &__img {
      margin: 0 auto;
    }
  }
}
@media (max-width: 590px) {
  .evo-light {
    &__inner {
      padding-top: 30px;
    }
    &__inner::before {
      top: 90px;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 100%;
    }
    &__inner::after {
      top: 450px;
    }
    &__text--one {
      max-width: 100%;
    }
    &__text--two {
      margin-top: 265px;
    }
    &__text--three {
      margin-top: 340px;
    }
  }
}
@media (max-width: 500px) {
  .menu {
    &__list {
      width: 100%;
    }
  }
  .evo-dark__inner::before {
    top: 180px;
    left: -67px;
    background-size: contain;
  }
  .evo-dark__inner::after {
    top: 300px;
    left: 0;
    width: 370px;
    height: 500px;
    background-size: contain;
  }
  .evo-light__video-link {
    &:hover {
      transform: scale(1.6);
      span {
        color: $color_accent;
      }
    }
  }
  .slick-arrow {
    transform: translateX(70%);
    &__left {
      transform: translateX(-70%);
    }
  }
}
@media (max-width: 450px) {
  .info {
    padding-top: 40px;
    &__part {
      margin-bottom: 40px;
    }
  }
  .track__img {
    margin: auto auto 40px auto;
  }
  .evo-dark {
    padding: 40px 0 20px;
    &__title {
      margin-bottom: 20px;
      padding-right: 0;
    }
    &__descr {
      display: block;
      div {
        width: 100%;
        margin-bottom: 15px;
      }
      div:nth-child(2),
      div:nth-child(4) {
        width: 100%;
      }
    }
  }
  .evo {
    margin-bottom: 40px;
  }
  .evo-light {
    &__inner::before {
      top: 9%;
    }
    &__inner::after {
      top: 45%;
    }
    &__video {
      margin-top: 30px;
    }
  }
  .blog {
    &__box {
      margin-bottom: 40px;
    }
    &__title {
      margin-bottom: 60px;
    }
    &__slider-list {
      margin-bottom: 40px;
    }
  }
  .footer {
    padding: 40px 0 40px;
    &__info {
      flex-direction: column;
      .logo {
        order: -1;
      }
      .footer__info-text {
        margin-bottom: 10px;
      }
    }
    &__contact-title {
      margin-top: 30px;
    }
  }
}
@media (max-width: 430px) {
  .promo {
    background-position: 17%;
    &__title {
      font-size: 50px;
      margin: 0 0 25px 0;
    }
    &__text {
      font-size: 36px;
      text-shadow: 0px 0px 1px #000000;
    }
    &__location {
      color: $color_light;
      text-shadow: 1px 1px 1px #000000;
    }
  }
  .info__table {
    font-size: 12px;
    td {
      padding-bottom: 10px;
    }
    td + td {
      text-align: center;
      padding-left: 0px;
    }
  }
}
@media (max-width: 400px) {
  .evo-dark__inner::before {
    top: 210px;
    left: -85px;
  }
  .evo-dark__inner::after {
    width: 275px;
  }
}
@media (max-width: 340px) {
  .evo-light {
    &__inner::before {
      top: 11%;
    }
    &__inner::after {
      top: 48%;
    }
  }
}
